<html>
<head>
  <title>Response Page</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome, <%= username %>!</h1>
  <p><strong>Password: <%= password %></strong></p>
</body>
</html>
